.hero-wrap{
        position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre-owned-menu li{flex-basis:20%;}
.hero-content{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color:#fff;
      position: absolute;
    top: 50%;
    margin-top: -100px;
}
.hero-content h1{
      text-shadow: 1px 1px #000;
  font-size:65px;
      font-weight: 700;
}
.half-width{
  display:flex;
flex-flow:row;
gap:40px;
    align-items: center;
margin:35px 0px 35px 0px;}
.full-width{
  display:flex;
flex-flow:column;
margin:35px 0px 35px 0px;
align-items: center;}
.center{
  text-align:center;
}
.mg-30{margin:30px 0px 30px 0px;}
.faq .accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom:1px solid #000;
}

.faq .active, .faq .accordion:hover {
  background-color: #000;
  color:#fff;
}

.faq .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top:20px;
}
.products-grid {
  display:flex;
  flex-flow:wrap;
  justify-content:center;
}
.products-grid .grid-product {
    flex: 0 0 25%;
}

.cfa.btn.add-to-cart.btn--secondary + .payment-buttons{
    display: none;
}
#btn_request_callback {
    display: none !important; margin-top: 0 !important;
}
.cfa.btn.add-to-cart.btn--secondary ~ #btn_request_callback{
  display: inline-block !important;
}

.section-header__title {
  text-transform: capitalize;
}

@media(max-width:550px){
  .hero-content{
    position:relative;
    width:90%;
    color:#000;
    margin-top:0px;
  }
  .hero-content h1{
    font-size:35px;
  }
  .hero-wrap {
    flex-flow: column;}
  .half-width {
    flex-flow: column;}
  .text-section{
    order:2;
  }
  .image-section{
    order:1;
  }
  .products-grid .grid-product {
    flex: 0 0 50%;
}
  .products-grid .grid__item {
    padding-left: 0;
}
  .hero-content h1{
    text-shadow:none;
  }
}

/*Modal Style*/
.crForm.contact-form {
    padding: 30px; margin: 0 auto; max-width: 100%;
}
.popup-textbox{
    text-align: center;
}
.popup-textbox p{
    color: #000;
}
.input-field .label{
    color: #000;
}
.modal-content.jmodal{
    display: inline-block;
}
.crForm input,
.crForm textarea{
    padding: 15px; background: #f2f2f2; width: 100%; border: 0; outline: 0; font-size: 14px; color: #000; margin: 0 0 15px;
    border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-sizing: border-box;
}
.form-btnbox .btn{
    background: rgb(41, 54, 136); margin: 0; width: 100%;
}

@media(max-width:767px){
.modal-content.jmodal {
    display: inline-block; position: absolute; left: 0; right: 0; top: 0; max-width: 90%; margin: 20px auto; padding-bottom: 50px;
}
.crForm.contact-form{
  padding: 0;
}

}